.groups
  - @groups.each_slice(3).with_index do |slice, i|
    .row
      - slice.each_with_index do |group, j|
        .group.col-md-4.pt-5
          %h1 Group #{j + 1 + (i * 3)}
          %h3
            = fa_icon 'crown', class: 'text-info role-icon' if group[:tank].high?
            = fa_icon 'shield', class: 'text-danger role-icon'
            %span.font-0 Tank:
            - if group[:tank].nil?
              %i.gray Empty
            - else
              = group[:tank].name
          %h3
            = fa_icon 'crown', class: 'text-info role-icon' if group[:healer].high?
            = fa_icon 'plus', class: 'text-success role-icon'
            %span.font-0 Healer:
            - if group[:healer].nil?
              %i.gray Empty
            - else
              = group[:healer].name
          - group[:dps].each do |dps|
            %h3
            = fa_icon 'crown', class: 'text-info role-icon' if dps.high?
              = fa_icon 'magic', class: 'text-info role-icon'
              %span.font-0 DPS:
              - if dps.nil?
                %i.gray Empty
              - else
                = dps.name
          %br.font-0
