<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :character_name %>
  </div>

  <div class="field">
    <%= form.label :tank %>
    <%= form.check_box :tank, id: :character_tank %>
  </div>

  <div class="field">
    <%= form.label :mdps %>
    <%= form.check_box :mdps, id: :character_mdps %>
  </div>

  <div class="field">
    <%= form.label :rdps %>
    <%= form.check_box :rdps, id: :character_rdps %>
  </div>

  <div class="field">
    <%= form.label :healer %>
    <%= form.check_box :healer, id: :character_healer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
