%p#notice= notice

%h1 Characters

= link_to new_character_path, class: 'btn btn-success mt-2 mb-5' do
  = fa_icon 'plus'
  New Character

%table.table.table-striped.characters-table
  %thead
    %tr
      %th{ scope: 'col' } Name
      %th.center{ scope: 'col' } Tank
      %th.center{ scope: 'col' } Healer
      %th.center{ scope: 'col' } Melee
      %th.center{ scope: 'col' } Ranged
      %th.center{ scope: 'col' } Fill
      %th.center{ scope: 'col' } Skip
      %th.center{ scope: 'col' } Skill
      %th{ scope: 'col' } 
  %tbody
    - @characters.each do |character|
      %tr
        %td{ scope: 'row' }
          = character.name
        %td.center.attribute
          = link_to character_toggle_path(character_id: character.id, attribute: 'tank'), method: :put do
            - if character.tank
              = fa_icon 'check-square-o'
            - else
              = fa_icon 'square-o'
        %td.center.attribute
          = link_to character_toggle_path(character_id: character.id, attribute: 'healer'), method: :put do
            - if character.healer
              = fa_icon 'check-square-o'
            - else
              = fa_icon 'square-o'
        %td.center.attribute
          = link_to character_toggle_path(character_id: character.id, attribute: 'mdps'), method: :put do
            - if character.mdps
              = fa_icon 'check-square-o'
            - else
              = fa_icon 'square-o'
        %td.center.attribute
          = link_to character_toggle_path(character_id: character.id, attribute: 'rdps'), method: :put do
            - if character.rdps
              = fa_icon 'check-square-o'
            - else
              = fa_icon 'square-o'
        %td.center.attribute
          = link_to character_toggle_path(character_id: character.id, attribute: 'allow_multiple_groups'), method: :put do
            - if character.allow_multiple_groups
              = fa_icon 'check-square-o'
            - else
              = fa_icon 'square-o'
        %td.center.attribute
          = link_to character_toggle_path(character_id: character.id, attribute: 'do_not_include'), method: :put do
            - if character.do_not_include
              = fa_icon 'check-square-o'
            - else
              = fa_icon 'square-o'
        %td.center
          = character.skill_level.titleize
        %td.actions.center
          = link_to edit_character_path(character), class: 'btn btn-link' do
            = fa_icon 'pencil'
          = link_to character_path(character), class: 'btn btn-link text-danger', method: :delete, data: { confirm: 'Are you sure?' } do
            = fa_icon 'trash'
