<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Tank:</strong>
  <%= @character.tank %>
</p>

<p>
  <strong>Dps:</strong>
  <%= @character.dps %>
</p>

<p>
  <strong>Healer:</strong>
  <%= @character.healer %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
