<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Tank:</strong>
  <%= @character.tank %>
</p>

<p>
  <strong>Healer:</strong>
  <%= @character.healer %>
</p>

<p>
  <strong>Melee Dps:</strong>
  <%= @character.mdps %>
</p>

<p>
  <strong>Ranged Dps:</strong>
  <%= @character.rdps %>
</p>

<p>
  <strong>Allow Multiple Groups:</strong>
  <%= @character.allow_multiple_groups %>
</p>

<p>
  <strong>Skill Level:</strong>
  <%= @character.skill_level.titleize %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
